*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 30px;
}
body {
  background-color: #000000;
  color: #ffffff;
}
.footer {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 2px solid #3d76f3;
}
h1.footer-name {
  color: #3d76f3;
}
.footer-search-input {
  width: 160px;
  height: 20px;
  border-radius: 10px;
  padding: 0 10px;
}
.arr-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.arr-img img {
  padding: 15px;
  width: 50%;
}
@media (max-width: 500px){
.arr-img img {
    width:300px;
  }
}
  
  

