@font-face {
  font-family: Inter-Regular;
  src: url("assets/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: Inter-Bold;
  src: url("assets/fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: Merriweather-Bold;
  src: url("assets/fonts/Merriweather-Bold.ttf");
}
.container {
  width: 1440px; /* заменить на max-width */
  margin: 0 auto;
  min-height: 20px;
}