@font-face {
  font-family: Inter-Regular;
  src: url("assets/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: Inter-Bold;
  src: url("assets/fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: Merriweather-Bold;
  src: url("assets/fonts/Merriweather-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  font-family: Inter-Regular;
}
.container {
  width: 1440px; /* заменить на max-width, после review */
  margin: 0 auto;
  min-height: 20px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assets/img/header/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}
.logo {
  background-image: url("./assets/svg/header/Vector.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 40px;
  transition: 0.4s;
}
.logo:hover {
  filter: invert(24%) sepia(6%) saturate(1637%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
ul.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 500px;
}
.nav-and-language {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  padding: 0 15px;
  font-family: Inter-Regular;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  color: #ffffff;
  transition: 0.4s;
}
.nav-link:hover {
  color: #bdae82;
}
.language {
  width: 70px;
  height: 50px;
  color: #ffffff;
  font-family: Inter-Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
}
.languages-checkbox {
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 20px;
}
.languages-checkbox::after {
  content: "en";
  position: absolute;
  left: -2px;
  top: -19px;
  color: #bdae82;
}
.languages-checkbox:checked::after {
  color: #ffffff;
}
.languages-checkbox::before {
  content: "ru";
  position: absolute;
  right: -66px;
  top: -19px;
  color: #ffffff;
}
.languages-checkbox:checked::before {
  color: #bdae82;
}
.languages-text {
  position: absolute;
  margin: 0 30px;
  font-size: 20px;
}

.hero-container {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./assets/img/header/header-bg.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
  padding: 0 80px;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 330px;
  padding-top: 160px;
}
.hero-title {
  font-family: Merriweather-Bold;
  font-size: 60px;
  font-weight: 700;
  line-height: 120px;
  text-align: left;
  vertical-align: top;
  color: #ffffff;
}
.hero-text {
  width: 470px;
  font-family: Inter-Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  color: #ffffff;
}
.hero-btn {
/*   display: flex;
  justify-content: center;
  align-items: center; */
  width: 220px;
  height: 55px;
  margin-top: 25px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  border: 0;
  background-color: #bdae82;
  color: #000000;
  cursor: pointer;
  transition: 0.8s;
}
.hero-btn:hover{
  background-color: #ccb05c;

}